# ============================
# Python
# ============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ============================
# Entornos virtuales
# ============================
venv/
.env/

# ============================
# Bases de datos y datos locales
# ============================
*.db
*.sqlite3

# ============================
# Archivos generados
# ============================
*.xlsx
*.pdf
*.log

# ============================
# Sistema operativo
# ============================
.DS_Store
Thumbs.db

# ============================
# IDEs / Editores
# ============================
.vscode/
.idea/

# ============================
# PyInstaller
# ============================
build/
dist/
*.spec
